[Unit]
Description=Example Replication Task
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
# One might want to change the following three entries to fit their needs
WorkingDirectory=/home/zfs_sync/replicate-ZFS-from-Linux-to-TrueNAS/
User=zfs_sync
ExecStart=/bin/bash -c "./main.sh example.env"

[Timer]
OnCalendar=Sat *-*-* 05:39:00
Persistent=true

[Install]
WantedBy=timers.target